<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.unizar.eina.notepadv3" >
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/notepad"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Notes"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.unizar.eina.notepadv3.NoteEdit"
            android:label="@string/title_activity_note_edit"
            android:parentActivityName=".Notes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Notes" />
        </activity>
        <activity
            android:name="es.unizar.eina.notepadv3.CategoryEdit"
            android:label="@string/title_activity_category_edit"
            android:parentActivityName=".Notes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Notes" />
        </activity>
        <activity
            android:name="es.unizar.eina.notepadv3.Categories"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".Notes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Notes" />
        </activity>
    </application>

</manifest>
